# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
output/pssd_debug/ERROR_pSSD_plot_stage_scales_theme_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/ERROR_pSSD_plot_stage_scales_theme_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/ERROR_pSSD_plot_stage_scales_theme_Tier3_Marine_Food Dilution.rds
output/pssd_debug/ERROR_pSSD_plot_stage_scales_theme_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/ERROR_step4a_pSSD_plot_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/ERROR_step4a_pSSD_plot_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/ERROR_step4a_pSSD_plot_Tier3_Marine_Food Dilution.rds
output/pssd_debug/ERROR_step4a_pSSD_plot_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_label_x_checks_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_label_x_checks_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_label_x_checks_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_label_x_checks_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_label_x_checks_UNKNOWN.rds
output/pssd_debug/pSSD_plot_inputs_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_inputs_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_inputs_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_inputs_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_inputs_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_base_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_base_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_base_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_base_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_base_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_labels_lower_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_labels_lower_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_labels_lower_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_labels_lower_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_labels_lower_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_labels_upper_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_labels_upper_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_labels_upper_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_labels_upper_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_labels_upper_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_meanline_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_meanline_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_meanline_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_meanline_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_meanline_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_points_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_points_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_points_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_points_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_points_UNKNOWN.rds
output/pssd_debug/pSSD_plot_stage_scales_theme_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_scales_theme_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_scales_theme_Tier3_Marine_Food Dilution.rds
output/pssd_debug/pSSD_plot_stage_scales_theme_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/pSSD_plot_stage_scales_theme_UNKNOWN.rds
output/pssd_debug/step0_inputs_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step0_inputs_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step0_inputs_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step0_inputs_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step1_MCdf_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step1_MCdf_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step1_MCdf_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step1_MCdf_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step2_pssd_results_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step2_pssd_results_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step2_pssd_results_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step2_pssd_results_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step3_plot_prep_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step3_plot_prep_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step3_plot_prep_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step3_plot_prep_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step4a_pSSD_plot_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step4a_pSSD_plot_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step4a_pSSD_plot_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step4a_pSSD_plot_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC_plot_05_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step4b_PNEC_plot_05_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC_plot_05_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step4b_PNEC_plot_05_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC_plot_10_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step4b_PNEC_plot_10_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC_plot_10_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step4b_PNEC_plot_10_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC05_df_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step4b_PNEC05_df_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step4b_PNEC05_df_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step4b_PNEC05_df_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step5_PNEC_summaries_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step5_PNEC_summaries_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step5_PNEC_summaries_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step5_PNEC_summaries_Tier3_Marine_Tissue Translocation.rds
output/pssd_debug/step6_arranged_plot_Tier3_Freshwater_Food Dilution.rds
output/pssd_debug/step6_arranged_plot_Tier3_Freshwater_Tissue Translocation.rds
output/pssd_debug/step6_arranged_plot_Tier3_Marine_Food Dilution.rds
output/pssd_debug/step6_arranged_plot_Tier3_Marine_Tissue Translocation.rds
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/css/crosstalk.min.css
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/js/crosstalk.js
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/js/crosstalk.js.map
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/js/crosstalk.min.js
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/js/crosstalk.min.js.map
output/Manuscript_Figs/CoV_mouth_plotly_files/crosstalk-1.2.2/scss/crosstalk.scss
output/Manuscript_Figs/CoV_mouth_plotly_files/plotly-binding-4.11.0/plotly.js
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/css/crosstalk.min.css
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/js/crosstalk.js
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/js/crosstalk.js.map
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/js/crosstalk.min.js
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/js/crosstalk.min.js.map
output/Manuscript_Figs/leave_one_out_ggplotly_files/crosstalk-1.2.2/scss/crosstalk.scss
output/Manuscript_Figs/leave_one_out_ggplotly_files/plotly-binding-4.11.0/plotly.js
output/Manuscript_Figs/translocation/translocation_glm.jpeg
output/Manuscript_Figs/translocation/translocation_glm.png
output/Manuscript_Figs/translocation/translocation_histogram.jpeg
output/Manuscript_Figs/translocation/x50_MC_hist.jpg
output/presentation_Figs/Food Dilution_Freshwater_arranged_plot.jpg
output/presentation_Figs/Food Dilution_Marine_arranged_plot.jpg
output/presentation_Figs/MC_histograms.png
output/presentation_Figs/MC_param_histograms_dark-COFFIN-650G10.jpg
output/presentation_Figs/MC_param_histograms_dark.jpg
output/presentation_Figs/PNEC_pSSDvSSD.jpg
output/presentation_Figs/Tissue Translocation_Freshwater_arranged_plot.jpg
output/presentation_Figs/Tissue Translocation_Marine_arranged_plot.jpg
output/Manuscript_Figs/all_thresholds_violin_sobol_mass.jpg
output/Manuscript_Figs/all_thresholds_violin_sobol.jpg
output/Manuscript_Figs/alpha_combined_plot-COFFIN-650G10.jpg
output/Manuscript_Figs/alpha_combined_plot.jpg
output/Manuscript_Figs/bio_response_taxa.jpg
output/Manuscript_Figs/body_length_plot-COFFIN-650G10.jpg
output/Manuscript_Figs/body_length_plot.jpg
output/Manuscript_Figs/CoV_mouth_plotly.html
output/Manuscript_Figs/CoV_plots_sobol.jpg
output/Manuscript_Figs/Figure5.jpg
output/Manuscript_Figs/final_plot_all_tiers.jpg
output/Manuscript_Figs/final_plot.jpg
output/Manuscript_Figs/final_pSSD_plot_trapezoidal.jpg
output/Manuscript_Figs/final_pSSD_plot.jpg
output/Manuscript_Figs/Food Dilution_Freshwater_arranged_plot_trapezoidal.jpg
output/Manuscript_Figs/Food Dilution_Freshwater_arranged_plot.jpg
output/Manuscript_Figs/Food Dilution_Marine_arranged_plot_trapezoidal.jpg
output/Manuscript_Figs/Food Dilution_Marine_arranged_plot.jpg
output/Manuscript_Figs/leave_one_out_ggplotly.html
output/Manuscript_Figs/leave_one_out.jpg
output/Manuscript_Figs/MC_example_plots.jpg
output/Manuscript_Figs/MC_histograms.png
output/Manuscript_Figs/MC_param_histograms.jpg
output/Manuscript_Figs/PNEC_compare_arranged_plot_trapezoidal.jpg
output/Manuscript_Figs/PNEC_compare_arranged_plot.jpg
output/Manuscript_Figs/PNEC_final_plot_lognormal.jpg
output/Manuscript_Figs/PNEC_final_plot.jpg
output/Manuscript_Figs/PNEC_MCSSDvSSD_t3.jpg
output/Manuscript_Figs/PNEC_MCSSDvSSD_t3.tiff
output/Manuscript_Figs/PNEC_MCSSDvSSD.jpg
output/Manuscript_Figs/PNEC_MCSSDvSSD.tiff
output/Manuscript_Figs/PNEC_pSSDvSSD.tiff
output/Manuscript_Figs/quality_tier2.jpg
output/Manuscript_Figs/sobol_scatterplots.jpg
output/Manuscript_Figs/study_characteristics_plot_custom.jpg
output/Manuscript_Figs/summary_PNEC_figure.jpg
output/Manuscript_Figs/tier3_Food Dilution_Freshwater_arranged_HC5.jpg
output/Manuscript_Figs/tier3_Food Dilution_Freshwater_arranged_HC10.jpg
output/Manuscript_Figs/Tissue Translocation_Freshwater_arranged_plot_trapezoidal.jpg
output/Manuscript_Figs/Tissue Translocation_Freshwater_arranged_plot.jpg
output/Manuscript_Figs/Tissue Translocation_Marine_arranged_plot_trapezoidal.jpg
output/Manuscript_Figs/Tissue Translocation_Marine_arranged_plot.jpg
output/Manuscript_Figs/tissue_body-COFFIN-650G10.jpg
output/Manuscript_Figs/tissue_body.jpg
output/Manuscript_Figs/tissue_trans_plot-COFFIN-650G10.jpg
output/Manuscript_Figs/tissue_trans_plot.jpg
output/Manuscript_Figs/translocation/translocation_glm.jpeg
output/Manuscript_Figs/translocation/translocation_histogram.jpeg
output/Manuscript_Figs/translocation/x50_MC_hist.jpg
output/presentation_Figs/MC_histograms.png
output/presentation_Figs/MC_param_histograms_dark.jpg
output/presentation_Figs/PNEC_pSSDvSSD.jpg
output/Manuscript_Figs/all_thresholds_violin_sobol_mass.jpg
output/Manuscript_Figs/alpha_combined_plot.jpg
output/Manuscript_Figs/body_length_plot.jpg
output/Manuscript_Figs/CoV_mouth_plotly.html
output/Manuscript_Figs/CoV_plots_sobol.jpg
output/Manuscript_Figs/final_pSSD_plot.jpg
output/Manuscript_Figs/leave_one_out_ggplotly.html
output/Manuscript_Figs/leave_one_out.jpg
output/Manuscript_Figs/MC_example_plots.jpg
output/Manuscript_Figs/MC_histograms.png
output/Manuscript_Figs/MC_param_histograms.jpg
output/Manuscript_Figs/PNEC_compare_arranged_plot.jpg
output/Manuscript_Figs/PNEC_pSSDvSSD.tiff
output/Manuscript_Figs/quality_tier2.jpg
output/Manuscript_Figs/sobol_scatterplots.jpg
output/Manuscript_Figs/tissue_body.jpg
output/Manuscript_Figs/tissue_trans_plot.jpg
output/Manuscript_Figs/translocation/translocation_glm.jpeg
output/Manuscript_Figs/translocation/translocation_histogram.jpeg
output/Manuscript_Figs/translocation/x50_MC_hist.jpg
output/presentation_Figs/MC_histograms.png
output/presentation_Figs/MC_param_histograms_dark.jpg
output/presentation_Figs/PNEC_pSSDvSSD.jpg
output/Manuscript_Figs/all_thresholds_violin_sobol_mass.jpg
output/Manuscript_Figs/alpha_combined_plot.jpg
output/Manuscript_Figs/body_length_plot.jpg
output/Manuscript_Figs/CoV_mouth_plotly.html
output/Manuscript_Figs/CoV_plots_sobol.jpg
output/Manuscript_Figs/final_pSSD_plot.jpg
output/Manuscript_Figs/leave_one_out_ggplotly.html
output/Manuscript_Figs/leave_one_out.jpg
output/Manuscript_Figs/MC_example_plots.jpg
output/Manuscript_Figs/MC_histograms.png
output/Manuscript_Figs/MC_param_histograms.jpg
output/Manuscript_Figs/PNEC_compare_arranged_plot.jpg
output/Manuscript_Figs/PNEC_pSSDvSSD.tiff
output/Manuscript_Figs/quality_tier2.jpg
output/Manuscript_Figs/sobol_scatterplots.jpg
output/Manuscript_Figs/tissue_body.jpg
output/Manuscript_Figs/tissue_trans_plot.jpg
output/Manuscript_Figs/translocation/translocation_glm.jpeg
output/Manuscript_Figs/translocation/translocation_histogram.jpeg
output/Manuscript_Figs/translocation/x50_MC_hist.jpg
output/presentation_Figs/MC_histograms.png
output/presentation_Figs/MC_param_histograms_dark.jpg
output/presentation_Figs/PNEC_pSSDvSSD.jpg
data/output/aoc_aligned_no_filters.csv
data/output/CoV_distribution_summary.csv
data/output/data_used_thresholds_summary-COFFIN-650G10.csv
data/output/data_used_thresholds_summary.csv
data/output/formatted_thresholds.csv
data/output/all_studies_summary.csv
output/all_thresholds_violin_sobol.jpg
output/Manuscript_Figs_all_thresholds_violin_sobol.jpg
output/cache_pssd_results_300sim_lognormal/Tier3_Freshwater_Food Dilution.rds
scripts/monte carlo/output/sobol_results_filtered.rds
scripts/monte carlo/output/sobol_results.rds
output/Manuscript_Figs/all_thresholds_violin_sobol_mass.jpg
output/Manuscript_Figs/alpha_combined_plot.jpg
output/Manuscript_Figs/body_length_plot.jpg
output/Manuscript_Figs/CoV_mouth_plotly.html
output/Manuscript_Figs/CoV_plots_sobol_manual.png
output/Manuscript_Figs/leave_one_out_ggplotly.html
output/data/aligned_data.rds
output/.DS_Store
output/combined_histograms.jpg
output/MC_param_histograms_combined.png
output/tier1_2_large.csv
output/tier1_2_large.rds
data/output/PNEC_summary_table_wide.rds
data/output/PSDDplusplusresults.rds
data/output/tier1_2_food.RDS
data/output/tier1_2_tissue.RDS
data/output/tier3_4_food.RDS
data/output/tier3_4_tissue.RDS
scripts/monte carlo/output/all_thresholds_sobol_filtered.rds
scripts/monte carlo/output/all_thresholds_sobol_long_filtered.rds
scripts/monte carlo/output/mat_filtered.rds
scripts/monte carlo/output/mat.rds
scripts/monte carlo/output/sobol_results_filtered.rds
scripts/monte carlo/output/sobol_results.rds
data/output/marine_alpha_thresholds.rds
data/output/parameter_values.csv
data/output/tier1_2_food.RDS
data/output/tier1_2_tissue.RDS
data/output/tier3_4_food.RDS
data/output/tier3_4_tissue.RDS
scripts/monte carlo/output/sobol_results_filtered.rds
scripts/monte carlo/output/sobol_results.rds
scripts/monte carlo/output/sobol_time.txt
